@page
@model IlQuizzotto.Pages.ActiveQuestionModel
@{
      ViewData["Title"] = "Quizzotto ";
}
<h1>Quizzotto</h1>
<label>@Model.currentQuestion</label>

<label>@Model.answer1</label>
<label>@Model.answer2</label>
<label>@Model.answer3</label>
<form method="post">
    <input type="submit"  value="Prossima domanda" />
</form>
